*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*:seudoclase para redireccionar el menu*/
:root{
	scroll-behavior: smooth;
}
body{
	font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
/*SECCION SERVICIOS*/
.header{
	height: 100vh;
	background-image: linear-gradient(to top, rgba(206, 216, 222, 0.493) 0%, rgba(225, 234, 239, 0.473) 100%),url(../img/portadados.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

}

.head{
	text-align: center;
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.Hamburguer{ 
	position: fixed;
	top: 40px;
	right: 30px;
	/*z-index: 2;*/
	background: wheat;
	width: 45px;
	height: 45px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

.Logo{
	position: fixed;
	top: 30px;
	left: 40px;
	width: 170px;
	height: 170px;

}

.logossg{
	position: fixed;
	top: 100px;
	left: 140px;
	width: 250px;
	height: 170px;
	font-family: "Playfair Display", sans-serif;
}

.telefono{
	text-align: center;
	padding: 0;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 18px;
	color: black;
	
	
}

.contenedor-phone{
	width: 30vh;
	background: linear-gradient(to bottom, rgba(213, 222, 231, 0.808) 0%, rgba(232, 235, 242, 0.062) 50%, hsl(213, 23%, 91%) 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
 	background-blend-mode: normal,color-burn;
	justify-content: center;
	display: flex;
	margin-top: 150px;
	padding: 10px 10px;
	border-radius: 10px;
	cursor: pointer;
}

.phone-icon{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}


.menu-navegacion{
	position: fixed;
	top: 0;
	right: 0;
	width: 25vw;
	height: 100%;
	background-image: linear-gradient(to left, #BDBBBE 0%, hsla(230, 3%, 63%, 0.39) 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 	background-blend-mode: normal, lighten, soft-light;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	transition: transform .7s ease-in-out;
	transform: translate(110%);
	box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

nav >a:hover{
	text-decoration: underline;
}

.wave{
	position:absolute;
	bottom: 0;
	width: 100%;
}

.spread{
	transform: translate(0);
}

.menu-navegacion a{
	text-decoration: none;
	color: black;
}

.titulo{
	margin-bottom: 15px;
	font-size: 60px;

}

.copy{
	font-weight: 300;
	font-size: 25px;
}

/*SECCION SERVICIOS*/

.subtitulo{
	text-align: center;
	font-weight: 300;
	margin-bottom: 40px;
	font-size: 40px;
}

.contenedor-servicio{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.contenedor-servicio img{
	width: 40%;
}

.checklist-servicio{
	width: 40%;
}

.service{
	margin-bottom: 20px;
}

.n-service{
	margin-bottom: 7px;
}

.number{
	display: inline-block;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 50%;
	font-weight: 700;
	line-height: 30px;
	margin-right: 7px;
}

/*SECCION SERVICIOS*/

.gallery{
	background: #f2f2f2;
}

.contenedor-galeria{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.img-galeria{
	object-fit: cover;
	width: 30%;
	display: block;
	margin-bottom: 15px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .6);
	cursor: pointer;
}

.hover-galeria{
	position:relative;
	width: 30%;
	top: 0;
	transform: scale(1);
	background: hsl(273, 91%, 27%, 0.7);
	transition: transform .5s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imagen-light{
	position: fixed;
	background: rgba(0, 0, 0, .6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(100%);
	transition: tranform .2s ease-in-out;
}

.show{
	transform: translate(0);
}

.agregar-imagen{
	object-fit: cover;
	width: 60%;
	border-radius: 10px;
	transform: scale(1);
	transition: transfor .3s .2s;

}

.showImage{
	transform: scale(1);
}

.close{
	position:absolute;
	top: 15px;
	right: 15px;
	width: 40px;
	cursor: pointer;
}

.left{
	position:absolute;
	top: 50%;
	left: 380px;
	width: 50px;
	cursor: pointer;
}

.right{
	position:absolute;
	top: 50%;
	right: 380px;
	width: 50px;
	cursor: pointer;
}

button{
	cursor: pointer;
	background: transparent;
	border: none;
	color: #f3f3f3;
}

#btn-retroceder{
	position: absolute;
	top: 50%;
	left: 340px;
	font-size: 3rem;
}

#btn-adelantar{
	position: absolute;
	top: 50%;
	right: 340px;
	font-size: 3rem;
}

/*SECCION EXPERTS*/

.experts{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap:wrap;
}

.cont-expert{
	width: 30%;
	text-align: center;
	margin-bottom: 20px;
}

.cont-expert img{
	width: 80%;
	display: block;
	margin: 0 auto;
}

.n-expert{
	display:inline-block ;
	margin-top: 20px;
	width: 100%;
	font-weight: 400;
}

/*FOOTER*/

footer{
	background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
	padding-bottom: 0.1px;
}

.footer-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 60px;
	padding-bottom: 40px;
}

.contact-us{
	width: 40%;
	color: #fff;
}

.brand{
	font-weight: 500;
	font-size: 40px;
}

.brand+p{
	font-weight: 500;
}

.social-media{
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

.social-media-icon{
	display: inline-block;
	margin-left: 40px;
	width: 20px;
	height: 20px;
	text-align: center;
	color: #fff;
}

.siguenos{
	color: white;
	margin-top: 20px;
}
.social-media-icon i{
	font-size: 22px;
	line-height: 60px;
}

.line{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	height: 2px;
	background: #fff;
	margin-bottom: 60px;
}

@media screen and (max-width:800px){
	.menu-navegacion{
		width: 50vw;
	}

	.titulo{
		font-size: 40px;
	}

	.contenedor-servicio img{
		width: 80%;
		margin-bottom: 40px;
	}

	.checklist-servicio{
		width: 80%;
	}

	.service{
		margin-bottom: 30px;
	}

	.agregar-imagen{
		width: 80%;
	}

	.img-galeria{
		width: 45%;
	}

	.cont-expert{
		width: 80%;
	}

	.footer-content{
		justify-content: center;
	}
	.social-media{
		width: 80%;
		justify-content: space-evenly;
	}

	.social-media-icon{
		margin-left: 0;
	}
	.social-media i{
		margin-left: 0;
	} 

	.contact-us{
		text-align: center;
		width: 80%;
		margin-bottom: 40px;
	}
	.logossg{
	position: fixed;
	top: 50px;
	left: 80px;
	font-size: 10px;
	}
	.left{
	position:absolute;
	top: 50%;
	right: 400px;
	width: 20px;
	cursor: pointer;
	z-index: 1;
	}
		
	.right{
	position:absolute;
	top: 50%;
	left: 320px;
	width: 20px;
	cursor: pointer;
	z-index: 1;
	}	

	.telefono{
	font-size: 15px;
	}
}

@media screen and (max-width:500px){
	.menu-navegacion{
		width: 65vw;
	}

	.Hamburguer{
		top: 20px;
		right: 20px;
	}

	.titulo{
		font-size: 30px;
	}

	.subtitulo{
		font-size: 30px;
	}
	.agregar-imagen{
		width: 95%;
	}

	.img-galeria{
		width: 95%;
	}

	.social-media{
		width: 100%;
	}

	.contact-us{
		width: 90%;
	}

	.Logo{
	position: fixed;
	top: 20px;
	left: 30px;
	width: 70px;
	height: 70px;
	}
	
	.logossg{
	position: fixed;
	top: 50px;
	left: 80px;
	font-size: 10px;
	}
	
	.left{
	position:absolute;
	top: 50%;
	right: 400px;
	width: 20px;
	cursor: pointer;
	z-index: 1;
	}
		
	.right{
	position:absolute;
	top: 50%;
	left: 320px;
	width: 20px;
	cursor: pointer;
	z-index: 1;
	}	

	.telefono{
	font-size: 15px;
	}

}
